@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root h1 {
    text-align: center;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 8vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root form {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    max-width: 1400px;
    padding: 10px;
}

#root form h3 {
    font-size: 3vw;
    padding: 10px;
    margin-bottom: 14px;
}

#root form label {
    width: 100%;
    font-size: 2vw;
    margin-bottom: 2px;
    font-weight: bold;
}

#root form input {
    width: 100%;
    font-size: 2vw;
    padding: 5px 5px;
    margin-bottom: 3vw;
    outline: none;
    border: none;
    border-radius: 5px;
}

#root form textarea {
    width: 100%;
    font-size: 2vw;
    padding: 5px 5px;
    margin-bottom: 3vw;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 20vh;
}

#root form .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#root form .buttons button {
    display: inline-block;
    width: 100%;
    font-size: 2vw;
    padding: 5px 10px;
    margin-bottom: 0;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

#root form button:hover {
    background-color: lightseagreen;
    color: white;
    border: 1px solid whitesmoke;
}

#root form button:active {
    opacity: 0.5;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    /* transform: scale(1.1); */
}

#root .searchPoint {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    position: sticky;
    top: 0;
    background-color: lightseagreen;
    border: none;
}

#root .searchPoint input {
    max-width: 1440px;
    width: 75vw;
    font-size: 2vw;
    padding: 1vw 1vw;
    border: none;
    outline: none;
    border-radius: 1vw;
    margin: 1.5vw auto;
}

#root .showNote {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 1vw;
}

#root .note {
    padding: 1vw;
    width: 20vw;
    border: 1px solid black;
    border-radius: 1vw;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

#root .note:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

#root .note h3 {
    font-size: 2.5vw;
    text-align: center;
    padding: 5px;
    height: max-content;
}

#root .note hr {
    width: 100%;
    height: 0.5vw;
    background-color: black;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    outline: none;
}

#root .note p {
    min-height: 30vh;
    font-size: 2vw;
    padding: 10px;
}

#root .note .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    margin-top: 1vw;
}

#root .note .editBtn,
#root .note .deleteBtn {
    background-color: green;
    color: white;
    border: 1px solid whitesmoke;
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 1vw;
    outline: none;
}

#root .editNote {
    width: 100%;
    height: 100vh;
}

.createBtn {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 1px solid black;
    background-color: darkgreen;
    color: white;
    font-size: 4vw;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
}

.searchBtn {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 1px solid black;
    background-color: darkgreen;
    color: white;
    font-size: 4vw;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
}

@media only screen and (max-width: 600px) {
    #root .note {
        width: 25vw;
    }

    #root .note p {
        min-height: 20vh;
    }

    #root .searchPoint input {
        font-size: 4vw;
    }
}
